In [1]:
print("My name is Bidhan Khatiwada")

My name is Bidhan Khatiwada

In [2]:
a=5
b=6
print(a+b)

11

In [1]:
a='2+5'
print(a)

2+5

In [7]:
eval(a)

7

In [9]:
a = input('Enter some value: ')
print(a)

Enter some value: 10
10

In [10]:
age = 19
print('my age is ',age)

my age is  19

In [2]:
age =19
print('my age is %d'%age)

my age is 19

In [5]:
#using format
age1=19
age2=20
age3=21
print('Ram age is {0}, Shyam age is {1}, Laxman age is {2}'.format(age1,age2,age3))

Ram age is 19, Shyam age is 20, Laxman age is 21

In [6]:
#seperation of two word using sep
print('Hello','World',sep=':')

Hello:World

In [8]:
a= input()
type(a)

10

str

In [9]:
a= int(input())
type(a)

10

int

In [10]:
a= float(input())
type(a)

10.3333333333

float

In [12]:
a,b = input(),input()
print(a,b)

10
20
10 20

In [15]:
a,b,c = input().split() 
print(a,b,c) 
type(a)

10 20 30
10 20 30

str

In [16]:
a,b,c = map(int,input().split())
print(a,b,c)
type(a)
type(b)
type(c)

10 20 30
10 20 30

int

In [21]:
#input in list without using loop
l = []
list=l
list=list(map(int,input().split()))
list

1 2 3 4 5

TypeError: 'list' object is not callable

In [22]:
#testing
print('Hello Bidhan')

Hello Bidhan

In [35]:
f = '2-4*3+5/2'
print(f)
eval(f)

2-4*3+5/2

-7.5

In [36]:
#explicit typecasting
a="1"
b="2"

print(int(a)+int(b))

3

In [37]:
#implicit typecasting
a=1.2
b=2
print(a+b)

3.2