In [1]:
#String Slicing
String = 'KHATIWADA'

s1=slice(4)
s2=slice(0,15,2)
s3=slice(-1,-15,-2)

print('Original String: ', String)
print(String[s1])
print(String[s2])
print(String[s3])

Original String:  KHATIWADA
KHAT
KAIAA
AAIAK

In [11]:
#String Slicing using indexing sequence

String = 'KHATIWADA'

print(String[:4])
print(String[0:15:2])
print(String[-1:-15:-2])

KHAT
KAIAA
AAIAK

In [4]:
String = 'KHATIWADA'
print(String[::-1])

ADAWITAHK

In [20]:
String = 'Hello World'
String.split()

['Hello', 'World']

In [21]:
Str1= 'Hi Bidhan'
Str1.split()[0]

'Hi'

In [22]:
Str1= 'Hi Bidhan'
Str1.split()[1]

'Bidhan'

In [23]:
Str1= 'Hi Bidhan'
Str1.split(',')[0]

'Hi Bidhan'

In [25]:
L = ['My','Name','is','Bidhan','Age',20]
L.append(2057)
print(L)
L.insert(4,'Khatiwada')
print(L)

['My', 'Name', 'is', 'Bidhan', 'Age', 20, 2057]
['My', 'Name', 'is', 'Bidhan', 'Khatiwada', 'Age', 20, 2057]

In [26]:
#adding list 2 to list 1 and vice-versa
l1 = [1,2,3,'Bidhan']
l2 = ['Khatiwada',4,5,6]
l1.extend(l2)
print(l1)

[1, 2, 3, 'Bidhan', 'Khatiwada', 4, 5, 6]

In [27]:
#adding list 2 to list 1 and vice-versa
l1 = ['Bidhan',1,2,3]
l2 = [4,5,6,'Khatiwada']
l2.extend(l1)
print(l2)

[4, 5, 6, 'Khatiwada', 'Bidhan', 1, 2, 3]

In [28]:
#sum in a list
l = [1,2,3,4,5,6]
print(sum(l))

21

In [30]:
#count of a individual element present in list
l = [1,2,3,4,1,3,5,1,1,2,8,8,7,5,4,5,4,5,2,2,6,8,7,9]
print(l.count(1))
print(l.count(5))
print(l.count(8))

4
4
3

In [34]:
#length of a list
l = [1,2,3,4,5,6]
print(len(l))

6

In [36]:
#minimum element of a list
l =[2,3,4,5,6,8,6,3]
print(min(l))
print(max(l))

2
8

In [40]:
#sorting
l = [1,2,3,9,4,8,5,6,7]
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
#deleting an element in a list
l = [1,2,3,4,5,6]
print(l.pop())
print(l)
print(l.pop(0))
print(l)
del l[0]
print(l)

6
[1, 2, 3, 4, 5]
1
[2, 3, 4, 5]
[3, 4, 5]

In [47]:
#tuple(we cannot add,change,update or remove)
tuple=("Bidhan","Khatiwada","Pulchowk")
print(tuple)
print(len(tuple))

('Bidhan', 'Khatiwada', 'Pulchowk')
3

In [49]:
tuple = ("apple", "banana", "cherry")
print(type(tuple))

<class 'tuple'>

In [51]:
#tuple constructor(why not working)
thistuple = tuple(("Bidhan","Khatiwada","Pulchowk"))
print(thistuple)

TypeError: 'tuple' object is not callable

In [73]:
#range in tuple
tuple = ("Bidhan","Khatiwada","Pulchowk","Campus","Lalitpur","Nepal")
print(tuple[2:5])
print(tuple[2:])
print(tuple[:5])
print(tuple[:])
print(tuple[-4:-1])

('Pulchowk', 'Campus', 'Lalitpur')
('Pulchowk', 'Campus', 'Lalitpur', 'Nepal')
('Bidhan', 'Khatiwada', 'Pulchowk', 'Campus', 'Lalitpur')
('Bidhan', 'Khatiwada', 'Pulchowk', 'Campus', 'Lalitpur', 'Nepal')
('Pulchowk', 'Campus', 'Lalitpur')

In [78]:
#dictionary(key-value)
dict = {1:"One", 2:"Two", 3:"Three", 4:"Four"}
print(dict)
print(dict[1],dict[4])
dict[5] = "Five"
print(dict)
dict.pop(3)
print(dict)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}
One Four
{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
{1: 'One', 2: 'Two', 4: 'Four', 5: 'Five'}

In [79]:
#python sets is just like a list where repititive element is no present there.